@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 49, 54, 56;
  --background-start-rgb: 232, 233, 235;
  --background-end-rgb: 232, 233, 235;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 232, 233, 235;
    --background-start-rgb: 49, 54, 56;
    --background-end-rgb: 49, 54, 56;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: 49, 54, 56; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
